
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#info {
  width: 50%;
}

#gallery {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

#cautare {
  margin-bottom: 20px;
  padding: 5px; 
  width: 300px;
}


