body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    width: 50px;
    order: 1;
}

.container {
    display: block;
}

td {
    width: 60px;
    height: 60px;
    background-color: green;
    border: black solid 5px;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

.counter {
    position: fixed;
    top: 20px;
    right: 20px;
}