#wrapper {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 150px 150px;
    column-gap: 10px;
}

#wrapper div {
    padding: 20px;
    border: white dashed 2px;
    background: black;
    color: white;
}

#D {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#D div {
    background: pink;
    border: none;
    color: black;
}

#wrapper #D #E {
    grid-column: 1/3;
}

@media (min-width: 200px) and (max-width: 600px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    /*
    #wrapper {
        display: flex;
        flex-direction: column;
    }
    */
}



