body { 
  background-color: white;
}

#canvas {
  display: block;
}

#mesaj {
  width: 650px;
  text-align: center; 
  font-family: Arial; 
  font-size: 18px; 
}

#poster {
  width: 300px;
  height: auto;
  position: absolute;
  left: 200px;
  display: block;
  margin: 0 auto;
}

#detalii {
  margin: 0 auto;
  width: 650px;
  position: absolute;
  top: 1050px;
  text-align: center; 
  font-family: Arial; 
  font-size: 12px; 
  display: none;
}
